@import "@ukic/fonts/dist/fonts.css";
@import "@ukic/react/dist/core/core.css";

/*
 * Layout
 */

/* .header {} */

/* .footer {} */

.footer-description {
  display: flex;
  flex-wrap: wrap;
}

.footer-contact {
  width: 100;
}

.footer-facebook {
  width: 100;
  margin-left: auto;
}

.footer-caption {
  display: flex;
  flex-wrap: wrap;
}

.footer-webadmin {
  width: 100;
}

.footer-copyright {
  width: 100;
  margin-left: auto;
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - var(--ic-space-lg));
  padding-bottom: var(--ic-space-xl);
}

.main-content {
  flex: 1;
  display: center;
}

/*
 * Home Page
 */
.homepage-container {
  display: flex;
  flex-direction: column;
}

.homepage-welcome {
  margin: auto;
}

.homepage-picture {
  margin: auto;
}

.homepage-content {
  margin: auto;
}

/* 
 * CD Info Page
 */
.cdinfo-container {
  display: flex;
  flex-wrap: wrap;
  }

.cdinfo-description {
  margin: auto;
}

.cdinfo-picture {
  margin: auto;
  margin-top: 0%;
  object-position: center top;  
}

.cdinfo-tracks {
  margin: auto;
  padding-left: 20px;
}

.cdinfo-track-name {
  color: var(--ic-color-primary-text);
  font-weight: bold;
}

.cdinfo-track-composer {
  color: var(--ic-color-secondary-text);
}


/***********/
